<div id="home" class="login-container">
    <form class="login-form">
        <h1 class="mb-4">Cadastro</h1>

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            @if (cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched) {
            <small style="color: red;">Nome inválido (mínimo 3 caracteres).</small>
            }
            <input type="text" class="form-control" id="nome" placeholder="Seu nome completo">
        </div>

        <div class="mb-3">
            <label for="staticEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="staticEmail" placeholder="seu@email.com">
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha">
        </div>

        <div class="mb-3">
            <label for="inputPasswordConfirm" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirme sua senha">
        </div>

        <button type="submit" class="btn w-100" style="background-color: red;">Cadastrar</button>
    </form>
</div>