<nav class="f1-navbar">
  <div class="navbar-inner">
    <a class="f1-brand" routerLink="/home">
     <img src="/image/logoPrincipal.png" alt="f1 logo" class="" style="max-width: 80px;">
      <span class="brand-text" style="margin-left: -15px;">HUB</span>
    </a>

    <div class="nav-links">
      <a class="nav-link-btn" routerLink="/home" routerLinkActive="active">
        Home
      </a>
      <a class="nav-link-btn" routerLink="/content" routerLinkActive="active">
        Pilotos
      </a>
      <a class="nav-link-btn" routerLink="/evento" routerLinkActive="active">
        Evento
      </a>
      <a class="nav-link-btn" routerLink="/favoritos" routerLinkActive="active">
        ⭐ Favoritos
      </a>
      <div class="user-section">
        <span *ngIf="isLoggedIn" class="user-email">{{ currentUserEmail }}</span>
        <a 
          *ngIf="!isLoggedIn"
          class="nav-link-btn" 
          routerLink="/login" 
          routerLinkActive="active">
          Login
        </a>
        <a 
          *ngIf="!isLoggedIn"
          class="nav-link-btn" 
          routerLink="/cadastro" 
          routerLinkActive="active">
          Cadastro
        </a>
        <button 
          *ngIf="isLoggedIn"
          class="nav-link-btn logout-btn mt-1"
          (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
