<div class="hero-container d-flex align-items-center justify-content-center">
  <div class="backgroundEfect hero-corrida container mt-5 row">
    <div class="col mt-5">
      <h1 class="border-1 text-warning d-flex section-title text-uppercase text-warning fw-black evento-hero-title">{{
        corrida.nome }} <br> </h1>
      <p class="text-light section-title text-uppercase text-white fw-black evento-hero-sub">{{ corrida.data }}
        - {{ corrida.local }}
      </p>
    </div>

    <img src="image/carroVetorizado.png" alt="vetor car" class="hero-image col-4 d-none d-lg-block">
  </div>
</div>

<section class="podio mt-5 mb-2">
  <div class="container">

    <h1 class="mb-3 section-title-2 text-uppercase text-white fw-black podio-title text-center">
      Pódio:
    </h1>

    <div class="bg-light mt-5" style="height: 2px; margin-bottom: 25px;"></div>

    <div class="podio-flex">

      <!-- 🥉 3º lugar -->
      <div class="podio-col podio-terceiro">

        <div class="podio-posicao" style="color: #B87333;">3º</div>

        <div class="favorite-card position-relative podio-card" (click)="abrirSelect(3)">

          <!-- HEADER -->
          <div class="card-header">
            <h3 class="driver-name">
              {{ podio[3]?.name || '3º Lugar' }}
            </h3>

            <button *ngIf="podio[3]" class="btn-remove" (click)="limparPodio(3, $event)">
              ✕
            </button>
          </div>

          <!-- BODY -->
          <div class="card-body">

            <div class="bg-wrapper">

              <div class="bg-layer" *ngIf="podio[3]" [style.backgroundImage]="'url(' + podio[3].logo + ')'">
              </div>

              <img *ngIf="podio[3]" [src]="podio[3].foto" [alt]="podio[3].name" class="driver-image">

              <!-- vazio -->
              <div *ngIf="!podio[3]" class="empty-slot">
                <span style="font-size: 2.5rem;">🥉</span>
                <span>Clique para escolher</span>
              </div>

            </div>

            <!-- infos -->
            <div class="driver-info mt-2" *ngIf="podio[3]">
              <p><strong>Número:</strong> {{ podio[3].number }}</p>
              <p>
                <strong>Equipe:</strong>
                <span [style.color]="podio[3].teamColor">
                  {{ podio[3].team }}
                </span>
              </p>
              <p><strong>Nacionalidade:</strong> {{ podio[3].nationality }}</p>
            </div>

          </div>

          <!-- SELECT -->
          <div *ngIf="medalhaAberta === 3" class="piloto-select">
            <div *ngFor="let p of getPilotosDisponiveis()" class="piloto-option"
              (click)="selecionarPiloto(3, p, $event)">
              <img [src]="p.foto" width="32" height="32">
              <span>{{ p.name }}</span>
            </div>
          </div>

        </div>
      </div>


      <!-- 🏆 1º lugar -->
      <div class="podio-col podio-primeiro">

        <div class="podio-posicao" style="color: #FFD700;">1º</div>

        <div class="favorite-card position-relative podio-card" (click)="abrirSelect(1)">

          <!-- HEADER -->
          <div class="card-header">
            <h3 class="driver-name">
              {{ podio[1]?.name || '1º Lugar' }}
            </h3>

            <button *ngIf="podio[1]" class="btn-remove" (click)="limparPodio(1, $event)">
              ✕
            </button>
          </div>

          <!-- BODY -->
          <div class="card-body">

            <div class="bg-wrapper">

              <div class="bg-layer" *ngIf="podio[1]" [style.backgroundImage]="'url(' + podio[1].logo + ')'">
              </div>

              <img *ngIf="podio[1]" [src]="podio[1].foto" [alt]="podio[1].name" class="driver-image">

              <!-- vazio -->
              <div *ngIf="!podio[1]" class="empty-slot">
                <span style="font-size: 2.5rem;">🏆</span>
                <span>Clique para escolher</span>
              </div>

            </div>

            <!-- infos -->
            <div class="driver-info mt-2" *ngIf="podio[1]">
              <p><strong>Número:</strong> {{ podio[1].number }}</p>
              <p>
                <strong>Equipe:</strong>
                <span [style.color]="podio[1].teamColor">
                  {{ podio[1].team }}
                </span>
              </p>
              <p><strong>Nacionalidade:</strong> {{ podio[1].nationality }}</p>
            </div>

          </div>

          <!-- SELECT -->
          <div *ngIf="medalhaAberta === 1" class="piloto-select">
            <div *ngFor="let p of getPilotosDisponiveis()" class="piloto-option"
              (click)="selecionarPiloto(1, p, $event)">
              <img [src]="p.foto" width="32" height="32">
              <span>{{ p.name }}</span>
            </div>
          </div>

        </div>
      </div>


      <!-- 🥈 2º lugar -->
      <div class="podio-col podio-segundo">

        <div class="podio-posicao" style="color: #C0C0C0;">2º</div>

        <div class="favorite-card position-relative podio-card" (click)="abrirSelect(2)">

          <!-- HEADER -->
          <div class="card-header">
            <h3 class="driver-name">
              {{ podio[2]?.name || '2º Lugar' }}
            </h3>

            <button *ngIf="podio[2]" class="btn-remove" (click)="limparPodio(2, $event)">
              ✕
            </button>
          </div>

          <!-- BODY -->
          <div class="card-body">

            <div class="bg-wrapper">

              <div class="bg-layer" *ngIf="podio[2]" [style.backgroundImage]="'url(' + podio[2].logo + ')'">
              </div>

              <img *ngIf="podio[2]" [src]="podio[2].foto" [alt]="podio[2].name" class="driver-image">

              <!-- vazio -->
              <div *ngIf="!podio[2]" class="empty-slot">
                <span style="font-size: 2.5rem;">🥈</span>
                <span>Clique para escolher</span>
              </div>

            </div>

            <!-- infos -->
            <div class="driver-info mt-2" *ngIf="podio[2]">
              <p><strong>Número:</strong> {{ podio[2].number }}</p>
              <p>
                <strong>Equipe:</strong>
                <span [style.color]="podio[2].teamColor">
                  {{ podio[2].team }}
                </span>
              </p>
              <p><strong>Nacionalidade:</strong> {{ podio[2].nationality }}</p>
            </div>

          </div>

          <!-- SELECT -->
          <div *ngIf="medalhaAberta === 2" class="piloto-select">
            <div *ngFor="let p of getPilotosDisponiveis()" class="piloto-option"
              (click)="selecionarPiloto(2, p, $event)">
              <img [src]="p.foto" width="32" height="32">
              <span>{{ p.name }}</span>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<div class="participantes-wrapper bg-f1-surface">
  <div class="participantes-inner">
    <div class="participantes-grid">
      <div class="imagePista">
        <img src="image/pistaAutodramo.png" alt="interlagos" class="img-fluid">
      </div>

      <div class="participantes-lista">
        <h1 class="mb-3 section-title text-uppercase text-white fw-black">
          Participantes:</h1>
        <ul class="list-group participantes-scroll">
          <li *ngFor="let participante of participantes" class="driver-row"
            [style.--teamColor]="participante.teamColor">

            <div class="driver-left">
              <span class="driver-number">{{ participante.number }}</span>
            </div>

            <div class="driver-logo"><img [src]="participante.logo" width="28"></div>

            <div class="driver-center">
              <span class="driver-name">{{ participante.name }}</span>
              <span class="driver-team">{{ participante.team }}</span>
            </div>

            <div class="driver-right">
              {{ participante.nationality }}
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="linear" style="height: 100px;"></div>

<section class="hero-detalhes-corrida mt-1 d-flex align-items-center justify-content-center"
  style="max-height: 800px; margin-bottom: 20px;">
  <div class="container card-detalhes-corrida row">
    <div class="col">
      <h1 class="mb-3 section-title-2 text-uppercase text-white fw-black" style="font-size: 60px;">Detalhes da Corrida:
      </h1>
      <div class="bg-light mt-5" style="height: 2px; margin-bottom: 20px;"></div>
      <div class="col" *ngFor="let detalhes of DetalhesCorrida; let i = index">
        <p class="info-item">
          <span class="label" style="font-size: 20px;">GP</span>
          <span class="value">{{ detalhes.nome }}</span>
        </p>
        <p class="info-item" style="font-size: 30px;"><span class="label" style="font-size: 20px;">Data:</span>
          <span class="value">{{ detalhes.data }}</span>
        </p>
        <p class="info-item" style="font-size: 30px;"><span class="label" style="font-size: 20px;">Voltas:</span> <span
            class="value">{{
            detalhes.voltas }}</span></p>
        <p class="info-item" style="font-size: 30px;"><span class="label" style="font-size: 20px;">Distância
            Total:</span> <span class="value">{{
            detalhes.distancia }}</span></p>
        <p class="info-item" style="font-size: 30px;"><span class="label" style="font-size: 20px;">Duração
            Estimada:</span> <span class="value">{{ detalhes.duracao }}</span></p>
      </div>
    </div>

    <div class="col" style="min-height: 600px;">
      <h1 class="section-title-2 text-uppercase text-white fw-black" style="font-size: 60px;">Teams:</h1>
      <div class="bg-light mt-5" style="height: 2px; margin-bottom: 20px; margin-top: 17px;"></div>
      <div id="carouselExampleAutoplaying" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let time of timesUnicos; let i = index"
            [class.active]="i === currentSlide">
            <img [src]="time.logo" [alt]="time.team" class="d-block w-100"
              style="max-height: 400px; object-fit: contain;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" (click)="prevSlide()">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" (click)="nextSlide()">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </div>
</section>